
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    position: relative;
    height: 100vh;
    background: url('imegs/slider-2-1536x1440.webp');
    background-size: cover;
    color: white;
  }
  
  .navbar {
    position: relative;
    left:50px;
    justify-content: space-between;
    align-items:center;
    padding: 5px 50px;
    border-bottom:1px solid white;

  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    direction: rtl;
    position: relative;
    right:50px;
    top:10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    text-align:center ;
  }
  
  .nav-links li {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-links li:hover {
    color: rgb(16, 240, 8);
  }
  
  .hero-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .hero-section h1 {
    font-size: 48px;
    margin: 10px 0;
  }
  

  .hero-section .btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    margin-top: 20px;
    transition: background 0.3s;
}

footer{
  display: grid;
  grid-template-columns:450px 450px 450px;
  padding:10px;
}
footer div a:hover{
  opacity:50%;
  background-color: rgb(238, 234, 230);
}
.navbar .nav-links ul{
  list-style:none;
  display: inline;
  display:none;
  
}
.navbar .nav-links ul a:hover{
  display:block;
}